*.gz
.vimrc
.DS_Store
.sass-cache

node_modules

tmp/*
!tmp/.gitkeep

config/dev/config.yml
config/test/config.yml
config/prod/config.yml

log/debug.log
log/error.log
log/request.log
log/response.log
log/test.log
log/sys.log
log/control-staging.log
log/control-production.log
